@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fefefe;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

button {
  padding-left: 16px;
  padding-right: 16px;
  height: 56px;
  border-radius: 16px;
  border-width: 0px;
  color: #f5f5f5;
  font-size: 16px;
  letter-spacing: 0.16rem;
  font-weight: bold;
  background-color: #3542fc;
  cursor: pointer;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 64px;
  font-size: 56px;
  color: #1e1e1e;
  margin: 0px;
  padding: 0px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #1e1e1e;
  margin: 0px;
}

ul {
  width: 90%;
  padding-top: 12px;
}

li {
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
  font-weight: 500;
}

.section-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.section-root-container {
  display: flex;
  flex-direction: column;
  width: 1216px;
  align-items: center;
  justify-content: flex-start;
}

.social-media-buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 1216px;
  height: 72px;
  margin-top: 30px;
}

.hero-info {
  width: 1216px;
  height: 594px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 128px;
}

.customized-title {
  color: #212121;
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.hero-info-subtitle {
  font-size: 20px;
  line-height: 28px;
  max-width: 62%;
  margin-top: 16px;
}

.first-name {
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.015rem;
  font-weight: bold;
}

.links {
  font-size: 16px;
  color: #1e1e1e;
  letter-spacing: -0.015rem;
  margin-right: 16px;
  cursor: pointer;
}

.hero-img {
  height: 594px;
  width: 542px;
  border-radius: 20px;
  border-color: #202024;
  border-width: 4px;
  border-style: solid;
}

.social-icons {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.section-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 190px;
  padding-bottom: 64px;
}

h2.azul {
  color: #3542fc;
  font-size: 64px;
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 690px;
  border-width: 1px;
  color: #d9d9d9;
  border-radius: 12px;
  border-style: solid;
  padding: 24px;
}

.container {
  margin-top: 48px;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  column-gap: 36px;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #3542fc;
  margin-bottom: 12px;
}

.container-img {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.container-subtitle {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 0px;
  font-family: "Open-Sans", sans-serif;
  margin-top: 10px;
  max-width: 70%;
}

.section-portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 190px;
  padding-bottom: 64px;
}

.section-portfolio-grid {
  margin-top: 48px;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  column-gap: 36px;
}

.section-portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 320px;
  border-width: 2px;
  border-color: #d9d9d9;
  border-style: solid;
  border-radius: 24px;
}

.card-image {
  width: 220px;
  height: 155.713px;
  margin-bottom: 12px;
}

.card-subtitle {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-icons {
  width: 24px;
  height: 24px;
}

.card-icons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 64px;
  cursor: pointer;
}

.section-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-top: 64px;
  width: 100%;
  text-align: left;
}

.section-experiences-card {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #d9d9d9;
  border-radius: 16px;
  margin-top: 12px;
  padding: 24px;
}

h2.azul-2 {
  color: #3542fc;
  margin-bottom: 36px;
  text-align: left;
  font-size: 64px;
  font-weight: 700;
}

h2.h2-2 {
  text-align: left;
}

footer {
  display: flex;
  width: 100vw;
  height: 156px;
  background-color: #d9d9d9;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.section-experiences-card-img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin-right: 12px;
}

.section-experiences-card-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 6px;
}

.section-experiences-card-subtitle {
  color: var(--text, #1e1e1e);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 6px;
}

.section-experiences-card-text {
  color: var(--text, #1e1e1e);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

.experiences-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  margin-bottom: 0px;
  width: 100%;
  text-align: left;
}

.contact-text {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.contact-icon {
  width: 19.5px;
  height: 19.5px;
  margin-right: 12px;
}

.contact-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.contact-div-geral {
  margin-top: 0px;
  width: 414px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 1216px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #1e1e1e;
  font-size: 28px;
  letter-spacing: -0.015rem;
  font-weight: bold;
}

.footer-social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}